.status-container {
  width: 100%;
  min-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background: #f7f7ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Dropdown styling */
.status-container select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Clear button */
.status-container button {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.status-container button:hover {
  background: #e60000;
}


.status-container h2 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
